<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congratulations!</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Anton|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">

</head>
<body>

    <div id="congratsContainer">
        <div id="congratsContent">
            <h1 class="congrats">You did it!</h1>
            <p>You're one step closer to not being a skinny little bitch! :)</p>
            <a href="/home" id="startOver">Start Over</a>
        </div>
    </div>

</body>
</html>