<!-- AUTHOR: JIN TAK -->
<!-- Copyright 2018 JinTakInc -->
<% include ./partials/header.ejs %>

    <div class="container">

        <h1>Mass</h1>
        <h2>Hello, <span class="userGreeting"> <%= currentUser.username %> </span></h2>

        <!-- This form asks the user for their caloric goal -->
        <form>
            <label for="calorieGoalInput">How many calories do you need to eat today?</label>
            <br><br>
            <input type="text" id="calorieGoalInput" placeholder="Caloric Goal" required>
            <br><br>
            <div id="goal">
                <p>Caloric Goal:</p>
                <span id="caloricGoalHere">0</span> 
            </div>
            <br><br>
            <input id="calorieSubmit" class="submit" type="submit" value="Submit" >
            <br><br>
        </form>

        <!-- EAT FOOD -->
        <form id="eatSomethingForm" action="/eat" method="GET">
            <label>Eat Something !</label>
            <br><br>
            <input class="submit" type="submit" value="Eat!">
            <br><br>
        </form>

        

        <!-- Update foods currently in database  -->
        <!-- <form action="/update-food" method="POST">
            <label>Update</label>
            <br><br>
            <input class="submit" type="submit" value="Update Food">
        </form> -->


        <!-- API TESTING! -->
        <!-- <form action="/api" method="POST">
            <input class="submit" type="submit" value="Test API Call">
            <br><br>
        </form> -->

    </div>

    <script src="../scripts/app.js"></script>
</body>
</html>