<!-- AUTHOR: JIN TAK -->
<!-- Copyright 2018 JinTakInc -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MASS | Start</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Anton|Lato|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <div class="container">

        <h1>Mass</h1>

        <!-- This form asks the user for their caloric goal -->
        <form>
            <label for="calorieGoalInput">How many calories do you need to eat today?</label>
            <br><br>
            <input type="text" id="calorieGoalInput" placeholder="Caloric Goal" required>
            <br><br>
            <div id="goal">
                <p>Caloric Goal:</p>
                <span id="caloricGoalHere"></span> 
            </div>
            <br><br>
            <input id="calorieSubmit" class="submit" type="submit" value="Submit" >
        </form>

        <!-- EAT FOOD -->
        <form action="/eat" method="GET">
            <label for="">Eat Something !</label>
            <br><br>
            <input class="submit" type="submit" value="Eat!">
        </form>

        

        <!-- Update foods currently in database  -->
        <!-- <form action="/update-food" method="POST">
            <label>Update</label>
            <br><br>
            <input class="submit" type="submit" value="Update Food">
        </form> -->


        <!-- API TESTING! -->
        <form action="/api" method="POST">
            <input class="submit" type="submit" value="Test API Call">
            <br><br>
        </form>

    </div>

    <script src="../scripts/app.js"></script>
</body>
</html>