<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat More Food</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Anton" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <div class="container">

        <h1>EAT MORE</h1>

        <form>
            <label for="caloricGoal">How many calories do you need to eat today?</label>
            <br><br>
            <input type="text" id="caloricGoal" placeholder="Caloric Goal">
            <br><br>
            <div id="caloricGoalHere"></div>
            <br><br>
            <input id="calorieSubmit" class="submit" type="submit" value="Submit">
        </form>

        <form action="/food">
            <label for="food">Search Food: </label>
            <br><br>
            <input type="text" name="food" placeholder="Enter food">
            <br><br>
            <input class="submit" type="submit" value="Search Food">
            <br><br><br><br>
        </form>
        
        <form action="/createCustomFood">
            <label for="newCustomFood">Save Custom Food: </label>
            <br><br>
            <input type="text" name="foodName" placeholder="Name">
            <br><br>
            <input type="text" name="calories" placeholder="Calories">
            <br><br>
            <input type="text" name="proteins" placeholder="Proteins">
            <br><br>
            <input type="text" name="carbohydrates" placeholder="Carbohydrates">
            <br><br>
            <input type="text" name="fats" placeholder="Fats">
            <br><br>
            <input class="submit" type="submit" value="Save Custom Food">
            <br><br><br><br>
        </form>


        <form action="/api">
            <input class="submit" type="submit" value="Test API Call">
            <br><br>
        </form>

    </div>

    <script src="../scripts/app.js"></script>
</body>
</html>