<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calorie Counter</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <div class="container">

        <h1>MASS</h1>
        
        <form action="/food">
            <label for="food">Enter Food: </label>
            <input type="text" name="food" placeholder="Food">
            <br><br>
            <input type="submit" value="Submit">
        </form>

        <form action="/api">
            <input type="submit" value="test api call">
        </form>
        

    </div>

</body>
</html>