<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Anton|Permanent+Marker" rel="stylesheet">


    <link rel="stylesheet" href="../../styles/main.css">
</head>
<body id="authentication_body_2">

    <div class="authentication_container">

        <h1>Sign Up</h1>
        <form id="authentication_form" action="/signup" method="POST">
            <div class="form_input">
                   
                <label for="username">Username</label>
                <br>
                <input id="customUsername" type="text" name="customUsername" placeholder="Enter Username" required>
                
            </div>
            
            <br>

            <div class="form_input">
                   
                <label for="email">Email</label>
                <br>
                <input id="email" type="email" name="email" placeholder="Enter Email" required>
                
            </div>
            
            <br>

            <div class="form_input">
            
                <label for="password">Password</label>
                <br>
                <input id="password" type="password" name="password" placeholder="Enter Password" required>
                
            </div>

            <br>

            <% if (message.length > 0) { %>
                <div class="red"><%= message %></div>
            <% } %>
        
            <input id="authentication_submit" type="submit" value="Submit">

        </form>
    </div>  

</body>
</html>
