// Global Variables
$main-color-blue: #1E90FF;
$secondary-color-blue: #7FDBFF;
$yellow: #FFDC00;
$orange: #FF851B; 
$red: #EE4000;
$white: #fff;
$lime: lime;
$Lato: 'lato';
$black: #000;
$green: #3D9970;

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, $yellow, $red);
    color: $yellow;
    
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;

    h1 {
        font-size: 150px;
        letter-spacing: 15px;
        font-family: 'Permanent Marker', 'Anton', sans-serif;
        width: 600px;
        margin: 0 auto;
        background: $black;
        color: $yellow;
        box-shadow: 0 20px 20px rgba(#000, .5); 
    }
    
    h2 {
        font-size: 75px;
    }

    form {
        font-size: 20px;
        border: 2px solid rgba(255, 0, 0, 0.7);
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 30px;
        width: 700px;
        margin: 50px auto;
        background: $black;
        box-shadow: 0 20px 20px rgba(#000, .5); 
    }
    input {
        padding: 10px;
        border-radius: 5px;
        border: 3px solid $red;
        letter-spacing: 4px;
        
    
        &::-webkit-input-placeholder {
            opacity: 0.7;
        }
    
        &::-moz-placeholder {
            opacity: 0.7;  
        }
    
        &:-ms-input-placeholder {
            opacity: 0.7;
        }
    }
    
    label {
        font-size: 35px;
        font-family: 'Permanent Marker', 'Anton', sans-serif;
    }
}

#caloricGoalHere {
    font-size: 30px;
    font-family: 'Permanent Marker', 'Anton', 'Roboto', sans-serif;
}

.containerFoodResults {
    width: 100%;
    height: 100%;


    h2 {
        width: 700px;
        margin: 0 auto;
        background: $black;
        margin-bottom: 20px;
        font-family: 'Permanent Marker', 'Anton', sans-serif;
    }
    
}

.foodResults {
    font-family: $Lato, 'Roboto', sans-serif;
    color: $black;
    
    
}

.submit {
    cursor: pointer;
}
.submit:hover{
    border-color: $lime;
}