$yellow: #FFDC00;
$orange: #FF851B; 
$main-color-blue: #1E90FF;
$secondary-color-blue: #7FDBFF;
$red: crimson; 
$lime: #01FF70;
$black: #000;
$grey: #A9A9A9;

#authentication_body_1 {
    width: 100%; 
    height: 100vh; 
    background-image: linear-gradient(to right bottom, $main-color-blue, $orange);
}
#authentication_body_2 {
    width: 100%; 
    height: 100vh; 
    background-image: linear-gradient(to right bottom, $lime, $orange);
}

.authentication_container {
    width: 30%;
    height: 80%;
    margin: 60px auto;
    padding-top: 50px;
    background-color: rgba(255,255,255, 0.7);
    box-shadow: 0 20px 20px rgba(#000, .5); 
    text-align: center;
    border: 5px solid $yellow;
    border-radius: 10px;
    
    h1 {
        width: 80%;
        font-size: 50px;
        font-family: 'Permanent Marker', 'Anton';
        margin-bottom: 20px;
        letter-spacing: 10px;
        margin: 0 auto;
       
    }

    form {
        padding: 20px;

        label {
            font-family: 'Permanent Marker';
        }

        #authentication_submit {
            width: 150px;
            padding: 10px;
            font-family: 'Permanent Marker';
            border-radius: 3px;
            border: 3px solid black;
            cursor: pointer;
            margin-top: 50px;

            &:hover {
                border: 3px solid $main-color-blue;
            }
        }
    }


    .form_input {
        font-family: 'Roboto', sans-serif;

        input {
            padding-left: 20px;
        }

        input::-webkit-input-placeholder { /* WebKit browsers */
            padding-left: 5px;
          }
          input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            padding-left: 5px;
          }
          input::-moz-placeholder { /* Mozilla Firefox 19+ */
            padding-left: 5px;
          }
          input:-ms-input-placeholder { /* Internet Explorer 10+ */
            padding-left: 5px;
          }

        label {
            font-size: 20px;
            
        }
        
        #email {
            height: 50px;
            width: 350px;
            border-bottom: 3px solid transparent;
            margin-top: 20px;

            &:focus {
                border-bottom: 3px solid $lime;
            }
            &:focus:invalid {
                border-bottom: 3px solid $red;
            }
        }

        #password {
            height: 50px;
            width: 350px;
            border-bottom: 3px solid transparent;
            margin-top: 20px;

            &:focus {
                border-bottom: 3px solid $lime;
            }
            &:focus:invalid {
                border-bottom: 3px solid $red;
            }
        }

       
    }
}





